* {
  box-sizing: border-box;
}
body {
  font-size: 2%;
}
.v1_2 {
  width: 100%;
  height: 100vh;
  background: rgba(240,143,0,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_2 {
  width: 93%;
  height: 90%;
  background: rgba(242,209,144,1);
  opacity: 1;
  position: absolute;
  top: 5%;
  left: 3.5%;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  border-bottom-left-radius: 72px;
  border-bottom-right-radius: 72px;
  overflow: hidden;
}
.v9_5 {
  width: 361px;
  color: rgba(110,53,29,0.800000011920929);
  position: absolute;
  top: 10%;
  left: 45%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v9_6 {
  width: 855px;
  color: rgba(156,98,65,1);
  position: absolute;
  top: 31%;
  left: 20%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Crimson Text;
  font-weight: SemiBold Italic;
  font-size: 2.5vw;
  opacity: 1;
  text-align: center;
}
.v9_7 {
  width: 85%;
  height: 50%;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 7.5%;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v9_12 {
  width: 80%;
  color: rgba(110,53,29,1);
  position: absolute;
  top: 55%;
  left: 137px;
  font-family: Crimson Text;
  font-weight: Regular;
  font-size: 2vw;
  opacity: 1;
  text-align: left;
}
.v9_14 {
  width: 18%;
  height: 20%;
  background: url("../images/v9_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12%;
  left: 28%;
  overflow: hidden;
}
.v9_15 {
  width: 80%;
  height: 10%;
  background: rgba(156,98,65,0.5);
  opacity: 1;
  position: absolute;
  top: 43%;
  left: 10%;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v9_13 {
  width: 80%;
  color: rgba(216,194,178,1);
  position: absolute;
  top: 45%;
  left: 40%;
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 3vw;
  opacity: 1;
  text-align: left;
}
