* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4 {
  width: 100%;
  height: 1024px;
  background: rgba(240,143,0,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_4 {
  width: 100%;
  height: 920px;
  background: rgba(242,209,144,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 51px;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  border-bottom-left-radius: 72px;
  border-bottom-right-radius: 72px;
  overflow: hidden;
}
.v23_18 {
  width: 167px;
  height: 58px;
  background: rgba(156,98,65,0.5);
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 1174px;
}
.v23_17 {
  width: 356px;
  height: 168px;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 983px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v23_15 {
  width: 201px;
  height: 58px;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 753px;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v23_16 {
  width: 100px;
  color: rgba(110,53,29,1);
  position: absolute;
  top: 691px;
  left: 804px;
  font-family: Crimson Text;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v21_14 {
  width: 358px;
  height: 58px;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 983px;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v21_12 {
  width: 201px;
  height: 58px;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 753px;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v21_13 {
  width: 100px;
  color: rgba(110,53,29,1);
  position: absolute;
  top: 603px;
  left: 817px;
  font-family: Crimson Text;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v20_10 {
  width: 588px;
  height: 68px;
  background: rgba(156,98,65,0.5);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 753px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v21_11 {
  width: 255px;
  color: rgba(216,194,178,1);
  position: absolute;
  top: 506px;
  left: 931px;
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v24_21 {
  width: 86px;
  color: rgba(216,194,178,1);
  position: absolute;
  top: 872px;
  left: 1215px;
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v19_13 {
  width: 100%;
  height: 104px;
  background: rgba(156,98,65,0.5);
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 98px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v19_12 {
  width: 611px;
  color: rgba(216,194,178,1);
  position: absolute;
  top: 398px;
  left: 447px;
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v19_10 {
  width: 618px;
  height: 417px;
  background: rgba(216,194,178,1);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 98px;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_10 {
  width: 805px;
  color: rgba(156,98,65,1);
  position: absolute;
  top: 295px;
  left: 317px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Caveat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v17_3 {
  width: 361px;
  color: rgba(110,53,29,0.800000011920929);
  position: absolute;
  top: 121px;
  left: 622px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Crimson Text;
  font-weight: Bold;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v17_2 {
  width: 241px;
  height: 186px;
  background: url("../images/v14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 381px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v19_11 {
  width: 555px;
  color: rgba(110,53,29,1);
  position: absolute;
  top: 551px;
  left: 130px;
  font-family: Crimson Text;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
